<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>

  <header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Blog</a></li>
          <li><a class="others" href="/courses" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Courses</a></li>
          <li><a class="others" href="/resources" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Resources</a></li>
          <li><a id="current" href="/about" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">About</a></li>
        </ul>
      </nav>

    </div>

    </header>
    <marquee behavior="scroll" direction="left">If you hover on our image icons, you will get the option to view our social medias! Right now we're working on Courses so please don't worry if nothing appears under the chapters! Thank you for visiting our site!</marquee>
    <div class="Creators">
        <h1>Creators of Chem Expo</h1>

        <div class="person">
            <img id="0" class="image" src="imgs/irfazpic.jpg" alt="">
            <div id="0div" class="0 link" style="display: none;">
              <ul>
              <a target="_blank" class="space1" href="https://www.linkedin.com/in/irfaz-oddir-61a1b21b8/">LinkedIn</a>
              <a target="_blank" class="space1" href="/profile/ioddir3564@bths.edu">Profile</a>
            </ul>
            </div>

            <h2>Irfaz Oddir</h2>
            <h3 class="description">Front End Developer  
            </h3>
        </div>
        <div class="person">
          <img id="1" class="image" src="imgs/isfarpic.jpg" alt="">
          <div id="1div" class="1 link" style="display: none;">
            <ul>
            <a href="https://www.linkedin.com/in/isfar-oshir-043403190/" class="space1" target="_blank">LinkedIn</a>
          </ul>
          </div>
            
            <h2>Isfar Oshir</h2>
            <h3 class="description">Full Stack Developer
            </h3>    
        </div>
    </div>

    <hr>

    <div class="Creators">
        <h1>Executives of BTHS Chem Club</h1>
        <div class="person">
          <img id="2" class="image" src="imgs/loripic.jpg" alt="">
          <div id="2div" class="2 link" style="display: none;">
            <ul>
            <a target="_blank" class="space1" href="https://bthsacschem.wordpress.com/about/">ACS</a>
              <a target="_blank" class="space1" href="/profile/ltsang5994@bths.edu">Profile</a>
            </ul>
          </div>
            <h2>Lori Tsang</h2>
            <h3 class="description">Co-President
            </h3>
        
        </div>
        <div class="person">
          <img id="3" class="image" src="imgs/emilypic.jpg" alt="">
          <div id="3div" class="3 link" style="display: none;">
            <ul>
            <a target="_blank" class="space1" href="https://bthsacschem.wordpress.com/about/">ACS</a>
            <a target="_blank" class="space1" href="/profile/echen7534@bths.edu">Profile</a>
          </ul>
          </div>
            <h2>Emily Chen</h2>
            <h3 class="description">Co-President
            </h3>
          </div>
        <div class="person">
            <img id="4" class="image" src="imgs/irfazpic.jpg" alt="">
            <div id="4div" class="4 link" style="display: none;">
              <ul>
              <a target="_blank" class="space1" href="https://www.linkedin.com/in/irfaz-oddir-61a1b21b8/">LinkedIn</a>
              <a target="_blank" class="space1" href="/profile/ioddir3564@bths.edu">Profile</a>
            </ul>
            </div>
            <h2>Irfaz Oddir</h2>
            <h3 class="description">Creator/Manager of Chem Expo
            </h3>    
        </div>
        
        <div class="person">
          <img id="5" class="image" src="imgs/tianapic.jpg" alt="">
          <div id="5div" class="5 link" style="display: none;">
            <ul>
            <a target="_blank" class="space1" href="https://bthsacschem.wordpress.com/about/">ACS</a>
            <a target="_blank" class="space1" href="/profile/ioddir3564@bths.edu">Profile</a>
          </ul>
          </div>
          
          <h2>Tiana Lee</h2>
          <h3 class="description">Director of Student Services
          </h3>    
      </div>

      <div class="person">
        <img id="6" class="image" src="imgs/danielpic.jpg" alt="">
        <div id="6div" class="6 link" style="display: none;">
          <ul>
          <a target="_blank" class="space1" href="https://bthsacschem.wordpress.com/about/">ACS</a>
          <a target="_blank" class="space1" href="/profile/ioddir3564@bths.edu">Profile</a>
        </ul>
        </div>
        <h2>Daniel Ochoa</h2>
        <h3 class="description">Editor-in-Chief
        </h3>    
    </div>

    <div class="person">
      <img id="7" class="image" src="imgs/nikkipic.jpg" alt="">
      <div id="7div" class="7 link" style="display: none;">
        <ul>
        <a target="_blank" class="space1" href="https://bthsacschem.wordpress.com/about/">ACS</a>
        <a target="_blank" class="space1" href="/profile/ncheng3618@bths.edu">Profile</a>    
      </ul>
      </div>
      <h2>Nikki Cheng</h2>
      <h3 class="description">Director of Publicity
      </h3>    
  </div>

    </div>

    <hr>

    <div class="Creators">
        <h1>Contributors</h1>
        <div class="person">
          <img id="8" class="image" src="imgs/yupic.jpg" alt="">
          <div id="8div" class="8 link" style="display: none;">
            <ul>
            <a target="_blank" class="space1" href="https://www.linkedin.com/in/yu-rong-chen-524a95202/">LinkedIn</a>
              <a target="_blank" class="space1" href="/profile/ychen3481@bths.edu">Profile</a>
            </ul>
          </div>
            <h2>Yu Rong Chen</h2>
        </div>

        <div class="person">
          <img id="9" class="image" src="imgs/gabrielpic.jpg" alt="">
          <div id="9div" class="9 link" style="display: none;">
            <ul>
            <a target="_blank" class="space1" href="https://www.instagram.com/ggabb3/">Instagram</a>
              <a target="_blank" class="space1" href="/profile/GAbrielc347@nycstudents.net">Profile</a>
            </ul>
          </div>
            <h2>Gabriel Caumartin</h2>
          </div>

          <div class="person">
            <img id="10" class="image" src="imgs/allanpic.jpg" alt="">
            <div id="10div" class="10 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="/profile/ali7812@bths.edu">Profile</a>
              </ul>
            </div>
              <h2>Allan Li</h2>
            </div>
            
          <div class="person">
            <img id="11" class="image" src="imgs/karipic.jpg" alt="">
            <div id="11div" class="11 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="/profile/ktsang2388@bths.edu">Profile</a>
              </ul>
              </div>
                <h2>Kari Tsang</h2>
              </div>
              
          <div class="person">
            <img id="12" class="image" src="imgs/jaypic.jpg" alt="">
            <div id="12div" class="12 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="https://www.instagram.com/persu_asians/">Instagram</a>
                <a target="_blank" class="space1" href="/profile/jchen9180@bths.edu">Profile</a>
                </ul>
                </div>
                  <h2>Jay Chen</h2>
                </div>

          <div class="person">
            <img id="13" class="image" src="imgs/chloeypic.jpg" alt="">
            <div id="13div" class="13 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="https://www.instagram.com/chlozzy.lizzn/">Instagram</a>
                <a target="_blank" class="space1" href="/profile/clin6747@bths.edu">Profile</a>
                </ul>
                  </div>
                    <h2>Chloey Lin</h2>
                  </div>

          <div class="person">
            <img id="14" class="image" src="imgs/lucaspic.jpg" alt="">
            <div id="14div" class="14 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="/profile/lroca8009@bths.edu">Profile</a>
              </ul>
                </div>
                  <h2>Lucas Roca</h2>
                </div>

          <div class="person">
            <img id="15" class="image" src="imgs/douniapic.jpg" alt="">
            <div id="15div" class="15 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="https://www.instagram.com/douniaouzidane/">Instagram</a>
                <a target="_blank" class="space1" href="/profile/douzidane6762@bths.edu">Profile</a>
              </ul>
                </div>
                  <h2>Dounia Ouzidane</h2>
                </div>
        
          <div class="person">
            <img id="16" class="image" src="imgs/briannapic.jpg" alt="">
            <div id="16div" class="16 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="/profile/blei8991@bths.edu">Profile</a>
              </ul>
                </div>
                  <h2>Brianna Lei</h2>
                </div>

          <div class="person">
            <img id="17" class="image" src="imgs/homayrahpic.jpg" alt="">
            <div id="17div" class="17 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="https://www.instagram.com/homayra_nabilah/">Instagram</a>
                <a target="_blank" class="space1" href="/profile/Hnabilah5608@bths.edu">Profile</a>
              </ul>
                </div>
                  <h2>Homayrah Nabilah</h2>
                </div>
                
          <div class="person">
            <img id="18" class="image" src="imgs/enzopic.jpg" alt="">
            <div id="18div" class="18 link" style="display: none;">
              <ul>
                <a target="_blank" class="space1" href="/profile/EKATZEN5091@BTHS.EDU">Profile</a>
              </ul>
                </div>
                  <h2>Enzo Katzen</h2>
                </div>
          
      
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>
</html>
<script>
    var images = document.querySelectorAll(".image")
    images.forEach(item => {
        item.addEventListener('mouseover', event => {
        var showDiv = document.getElementById(item.id + 'div')
        showDiv.style.display = "inline-block"
        item.style.display = "none"
        })
    })


    var links = document.querySelectorAll(".link")

    links.forEach(item => {
        item.addEventListener('mouseleave', event => {
          var id = item.classList[0]
          var img = document.getElementById(id)
          img.style.display = "inline-block"
          item.style.display = "none"
        })
    })
</script>
<script src="js/index.js" charset="utf-8"></script>