<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>

  <header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Blog</a></li>
          <li><a class="others" href="/courses" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Courses</a></li>
          <li><a class="others" href="/resources" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Resources</a></li>
          <li><a id="current" href="/about" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">About</a></li>
        </ul>
      </nav>

    </div>

    </header>
    <marquee behavior="scroll" direction="left">If you click on our image icons, you will be directed to our social medias! Right now we're working on History and Courses so please don't worry when nothing happens after clicking them! Thank you for visiting our site!</marquee>
    <div class="Creators">
        <h1>Creators of Chem Expo</h1>
        <div class="person">
            <a target="_blank" href="https://www.linkedin.com/in/irfaz-oddir-61a1b21b8/"><img class="image" src="imgs/irfazpic.jpg" alt=""></a>
            <h2>Irfaz Oddir</h2>
            <h3 class="description">Front End Developer  
            </h3>
        </div>
        <div class="person">
            <a href="https://www.linkedin.com/in/isfar-oshir-043403190/" target="_blank"><img class="image" src="imgs/isfarpic.jpg" alt=""></a>
            <h2>Isfar Oshir</h2>
            <h3 class="description">Full Stack Developer
            </h3>    
        </div>
    </div>

    <hr>

    <div class="Creators">
        <h1>Executives of BTHS Chem Club</h1>
        <div class="person">
            <a target="_blank" href="https://bthsacschem.wordpress.com/about/"><img class="image" src="imgs/loripic.jpg" alt=""></a>
            <h2>Lori Tsang</h2>
            <h3 class="description">Co-President
            </h3>
        
        </div>
        <div class="person">
            <a target="_blank" href="https://bthsacschem.wordpress.com/about/"><img class="image" src="imgs/emilypic.jpg" alt=""></a>
            <h2>Emily Chen</h2>
            <h3 class="description">Co-President
            </h3>
          </div>
        <div class="person">
            <a target="_blank" href="https://www.linkedin.com/in/irfaz-oddir-61a1b21b8/"><img class="image" src="imgs/irfazpic.jpg" alt=""></a>
            <h2>Irfaz Oddir</h2>
            <h3 class="description">Creator/Manager of Chem Expo
            </h3>    
        </div>
        
        <div class="person">
          <a target="_blank" href="https://bthsacschem.wordpress.com/about/"><img class="image" src="imgs/tianapic.jpg" alt=""></a>
          <h2>Tiana Lee</h2>
          <h3 class="description">Director of Student Services
          </h3>    
      </div>

      <div class="person">
        <a target="_blank" href="https://bthsacschem.wordpress.com/about/"><img class="image" src="imgs/danielpic.jpg" alt=""></a>
        <h2>Daniel Ochoa</h2>
        <h3 class="description">Editor-in-Chief
        </h3>    
    </div>

    <div class="person">
      <a target="_blank" href="https://bthsacschem.wordpress.com/about/"><img class="image" src="imgs/nikkipic.png" alt=""></a>
      <h2>Nikki Cheng</h2>
      <h3 class="description">Director of Publicity
      </h3>    
  </div>

    </div>

    <hr>

    <div class="Creators">
        <h1>Journalists</h1>
       <p>Coming Soon</p>
    </div>
  </body>
</html>

<script src="js/index.js" charset="utf-8"></script>