<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>

  <header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/">Blog</a></li>
          <li><a class="others" href="#">Courses</a></li>
          <li><a class="others" href="#">History</a></li>
          <li><a class="others" href="/resources">Resources</a></li>
          <li><a id="current" href="#">About</a></li>
        </ul>
      </nav>

    </div>

    </header>
    <marquee behavior="scroll" direction="left">If you click on our image icons, you will be directed to our social medias! Thank you for visiting our site!</marquee>
    <div class="Creators">
        <h1>Creators of Chem Expo</h1>
        <div class="person">
            <img class="image" src="imgs/irfazpic.jpg" alt="">
            <h2>Irfaz Oddir</h2>
            <h3 class="description">I am currently a student at Brooklyn Technical High School studying Chemical 
                Engineering. For this website, I contributed as a front end developer where I helped to design 
                the website. I came up with the idea of Chem Expo around the end of summer 2020.  
            </h3>
        </div>
        <div class="person">
            <a href="https://www.linkedin.com/in/isfar-oshir-043403190/" target="_blank"><img class="image" src="imgs/isfarpic.jpg" alt=""></a>
            <h2>Isfar Oshir</h2>
            <h3 class="description">I am currently a student at NYU studying Computer Science. For this website,
                I contributed as a full stack developer where I helped create the public and admin sides, 
                and I hope my brother and his colleagues can create valuable content when it comes to chemistry.
            </h3>    
        </div>
    </div>

    <hr>

    <div class="Creators">
        <h1>Executives of BTHS Chem Club</h1>
        <div class="person">
            <img class="image" src="imgs/irfazpic.jpg" alt="">
            <h2>Irfaz Oddir</h2>
            <h3 class="description">I am currently a student at Brooklyn Technical High School studying Chemical 
                Engineering. For this website, I contributed as a front end developer where I helped to design 
                the website. I came up with the idea of Chem Expo around the end of summer 2020.  
            </h3>
        
        </div>
        <div class="person">
            <img class="image" src="imgs/irfazpic.jpg" alt="">
            <h2>Irfaz Oddir</h2>
            <h3 class="description">I am currently a student at Brooklyn Technical High School studying Chemical 
                Engineering. For this website, I contributed as a front end developer where I helped to design 
                the website. I came up with the idea of Chem Expo around the end of summer 2020.  
            </h3>
        
        </div>
    </div>

    <hr>

    <div class="Creators">
        <h1>Journalists</h1>
        <div class="person">
            <img class="image" src="imgs/irfazpic.jpg" alt="">
            <h2>Irfaz Oddir</h2>
            <h3 class="description">I am currently a student at Brooklyn Technical High School studying Chemical 
                Engineering. For this website, I contributed as a front end developer where I helped to design 
                the website. I came up with the idea of Chem Expo around the end of summer 2020.  
            </h3>
        
        </div>
        <div class="person">
            <img class="image" src="imgs/irfazpic.jpg" alt="">
            <h2>Irfaz Oddir</h2>
            <h3 class="description">I am currently a student at Brooklyn Technical High School studying Chemical 
                Engineering. For this website, I contributed as a front end developer where I helped to design 
                the website. I came up with the idea of Chem Expo around the end of summer 2020.  
            </h3>
        </div>
    </div>
  </body>
</html>

<script src="js/index.js" charset="utf-8"></script>