<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="external.css">
  </head>
  <body>

<div class="wrapper">
  <img src="Chem expo logo.png" alt="logo" class="logo">
</div>

<h1 class="blogtitle"><%= post.title %> </h1>
<h4 class="author"><%= post.author %> </h4>
<div class="focuscontent"> 
<p><%= post.content %> </p>
</div>
</body>

</html>