<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>

  <header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/">Blog</a></li>
          <li><a id="current" href="#">History</a></li>
          <li><a class="others" href="#">Courses</a></li>
          <li><a class="others" href="#">Resources</a></li>
          <li><a class="others" href="/about">About</a></li>
        </ul>
      </nav>

    </div>
  
    <div class="SearchBar">
      <h1>Discover Chemistry</h1>
      <input id="search" type="text" onkeyup="myFunction2()" placeholder="Search by Keyword">
        <div class="searchbtn">
        </div>
      </div>
    </header>
      

  </body>
</html>

<script src="js/index.js" charset="utf-8"></script>
