<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/courses.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo"> 
</div>
<header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Blog</a></li> 
          <li id="courses"><a class="others" href="/courses" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Courses</a></li>
          <li><a id="current" href="/resources" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">Resources</a></li>
          <li><a class="others" href="/about" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: normal;
            letter-spacing: 2px;">About</a></li>
        </ul>
        
      </nav>

    </div>

    </header>

    <a target="_blank" href="https://bthsacschem.wordpress.com/">BTHS American Chemical Society</a>
    <br>
    <a target="_blank" href="http://www.kentchemistry.com/newRT.pdf">Regents Chemistry Reference Table</a>
    <br>
    <a target="_blank" href="https://molview.org/">Make your own Molecule!</a>
</body>

</html>