<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chem Expo</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

<div class="wrapper">
  <img src="imgs/Chem expo logo.png" alt="logo" class="logo">
</div>
<header id="header1">
    <div class="container">

      <nav>
        <ul>
          <li><a class="others" href="/">Blog</a></li>
          <li><a class="others" href="#">Courses</a></li>
          <li><a class="others" href="#">History</a></li>
          <li><a id="current" href="/resources">Resources</a></li>
          <li><a class="others" href="/about">About</a></li>
        </ul>
      </nav>

    </div>

    </header>

    <a target="_blank" href="https://bthsacschem.wordpress.com/">BTHS American Chemical Society</a>
    <br>
    <a target="_blank" href="http://www.kentchemistry.com/newRT.pdf">Regents Chemistry Reference Table</a>
    <br>
    <a target="_blank" href="https://molview.org/">Make your own Molecule!</a>
</body>

</html>