body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
  }
  html {
    width: 100%;
    height: 100%;
  }
  
  .logo {
    width: 10%;
  
  }
  
  .wrapper {
    width: 100%;
    background: #77ba40;
    text-align: center;
  }


header {
    /* background: #3CB371; */
    height: auto;
    text-align: center;
  
  }

  .container {
    width: 100%;
    background:#cbe8b5;
    
  }
  
  .person{
      display: inline-block;
      width: 15%;
      height: auto;
      text-align: center;
  }

  .image {
      border-radius: 50%;
      width: 50%;
      height: auto;
  }

  

  .image:hover{
      z-index: 1;
      width: 60%;
      height: auto;
  }

  .description {
      font-size: medium;
      margin-left: auto;
      margin-right: auto;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      width: 70%;
  }

  .link{
    width: 200px;
    height: 200px;
    position: relative;
    top: -20px;
    background-color: #02203c;
    border-radius: 50%;
  }
  .Creators ul{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 20px; text-align: left;
}

  ul a{
    float: left;
  }
  .Creators a{
    width: 40%;
    height: 100%;
    color: white;
    
  }

  #current {
    /* border: solid black;
    border-radius: 5px; */
    font-weight: bold;
    text-decoration: none;
    /* background-color: red; */
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav ul {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin: 30px 1%;
    padding-top: 5px;
  }
  
  .others {
    color: #444;
    padding: 10px;
    text-decoration: none;
    
  }
  .others:hover {
    border-radius: 3px;
  border-width: 1px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 195, 91);
  }


  .space1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    text-decoration: none;
    position: relative;
    color: white;
  }

  .space1::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0px;
  }

  .space1:hover::after{
    width: 100%;
    left: 0;
  }