body {
  margin: 0;
  /* background: #228B22; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}

.logo {
  width: 10%;

}

.pop {
  border: solid black;
  border-width: 1px;
  padding: 5px;
  float: right;
  text-decoration: none;
}
.pop:hover{
  color: white;
  background-color:rgb(86, 195, 91);;
}
.stay {

  border: solid black;
  border-width: 1px;
  padding: 5px;
  float: right;
  margin-right: 50px;
  text-decoration: none;
}
.stay:hover{
  color: white;
  background-color: rgb(86, 195, 91);
}
.new {
  border: solid black;
  border-width: 1px;
  padding: 5px;
  float: right;
  margin-right: 60px;
  text-decoration: none;
}
.new:hover{
  color: white;
  background-color:rgb(86, 195, 91);;
}

.title {
  font-size: 300%;
}

.container {
  width: 100%;
  background: #BCE6FB;
  
}

.wrapper {
  width: 100%;
  background: #228B22;
  text-align: center;
}

header {
  /* background: #3CB371; */
  height: auto;
  text-align: center;

}

.SearchBar {
  /* padding: 20px 100px 10px 100px; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #98FB98;
  text-align: center;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

.Blog {
  text-align: left;
  text-align: bottom;
}

.Post {
  padding: 50px 100px 100px 100px;
  width: 60%;
  background-color: #F5F5F5;
  text-align: left;
  border: solid black;
  border-width: 0.0001px;
  border-radius: 10px;
  margin-left: 64%;
}

.post-container{
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 30px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 30px 50px;
  padding-top: 5px;
}

.others {
  color: #444;
  padding: 10px;
  text-decoration: none;
  
}
.others:hover {
  border: solid black;
  border-radius: 5px;
  border-width: 1px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 195, 91);
}

#current {
  /* border: solid black;
  border-radius: 5px; */
  font-weight: bold;
  text-decoration: none;
  /* background-color: red; */
}
